{% extends "base_bootstrap.html" %}
{% block title %}Makes{% endblock title %}

{% block content %}
    <h3>Make list</h3>
    {% if make_list %}
    <ul>
        {% for make in make_list %}
            <li>
                {{make}}
                <a href="{% url "autos:make_update" make.id %}">Update</a>
                <a href="{% url "autos:make_delete" make.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No make available at the moment</p>
    {% endif %}
    <p><a href="{% url "autos:make_create" %}">Add a make</a></p>
    <p><a href="{% url "autos:auto_list" %}">Back to autos</a></p>
{% endblock content %}