{% extends "base.html" %}

{% block title %}Question {{question.id}}{% endblock title %}

{% block content %}
{{question.question_text}}

<form action="{% url "vote" question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <label for="{{choice.id}}">{{choice.choice_text}}</label>
        <input type="radio" name="choice" value="{{choice.id}}" id={{choice.id}}>
        <br>
    {% endfor %}
    <input type="submit" value="Vote">
</form>
{% endblock content %}