{% extends "base_menu.html" %}
{% load crispy_forms_tags %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/4.2/ref/contrib/humanize -->
{% block content %}
<span style="float: right;">
    ({{ ad.updated_at|naturaltime }})
    {% if ad.owner == user %}
    <a href="{% url 'ads:ad_update' ad.id %}"><i class="fa fa-pencil"></i></a>
    <a href="{% url 'ads:ad_delete' ad.id %}"><i class="fa fa-trash"></i></a>
    {% endif %}
    <img style="width:90%;margin-top: 50px; border:3px solid black;" src="{% url 'ads:ad_picture' ad.id %}">
</span>
<h1>{{ ad.title }}</h1>
<p>
    {{ ad.text }}
</p>
<p>
    Price:{{ ad.price }}
</p>
<h2>Add new comment</h2>
{% if user %}
    <form action="{% url "ads:ad_comment_create" ad.id %}" method="post">
        {% csrf_token %}
        {{commentForm | crispy}}
        <input type="submit" value="Add">
        <input type="submit" value="All Ads" onclick="window.location.href='{% url 'ads:all' %}';return false;">
    </form>
{% endif %}
<h2>Comments:</h2>
{% if comments %}
{% for comment in comments%}
    <p>
    {{comment.text}}
    ({{comment.updated_at | naturaltime}})
    {% if comment.owner == user %}
        <a href="{% url "ads:ad_comment_delete" comment.id %}"><i class="fa fa-trash"></i></a>
    {% endif %}
    </p>
{% endfor %}
{% else %}
    <p>No comments yet</p>
{% endif %}
<p>
    <a href="{% url 'ads:all' %}">All ads</a>
</p>
{% endblock %}